.elevatorProductContainer {
    width: 100%;
    height: 100%;
    position: relative;
}
.eStandardAd {
    margin-bottom: 24px;
    width: 75%;
    height: 56.25%;
    border: solid black 1px;
    position: relative;
    overflow: hidden;
}
video{
    object-fit: scale-down;
}
.eHSContentNarrow  {
    width: 75%;
    height: 32.9%;
    border: solid black 1px;
}
.eFullScreen{
    width: 100%;
    height: 100%;
    border: solid black 1px;
}

.elevatorPageContainer{
    width: 100%;
    height: 100%;
}