@font-face {
  font-family: "Avenir-Roman";
  src: local("Avenir-Roman"),
   url("./assets/fonts/Avenir-Roman-12.ttf") format("truetype");
  /* font-weight:400 ; */
  }
  @font-face {
    font-family: "Avenir-Heavy";
    src: local("Avenir-Heavy"),
     url("./assets/fonts/Avenir-Heavy-05.ttf") format("truetype");
    /* font-weight:400 ; */
    }

  .titleText{
    font-family: "Avenir-Heavy";
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .standardText{
    font-family: "Avenir-Roman";
    font-size: 18px;
    color: white;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:  "Avenir-Roman";
}

body {
  margin: 20px;
}
:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark:#131a26;
  --light: #eee;
  --neutral: #e4e4ee;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}



.appContainer{
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  font-family: "Avenir-Roman";
}

.pageContainer{
  width: 68%;
  height: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px white dotted; */
}

.page{
  display: none;
  height: 100%;
  
}
.active-page{
  display: block;
  width: 100%;
  height: 100%;
}

.productPage{
  display: none;
  width: 100%;
  height: 100%;
}
.productPageActive{
  display: block;
}

.elevatorPage{
  width: 524px;
  height: 393px;
}

input[type=text] {
  font-size: 18px;
  width:390px;
  height: 37px;
  padding-left: 10px;
  border: none; 
  background: linear-gradient(90deg, rgba(0,0,0,.6) 100%, rgba(0,0,0,.2) 0%);
  color: white;
  display:block;
}
input, label {
  margin-bottom: 10px;
}

.inputsFullPage{
  width: 100%;
  height: 100%;
  display: flex;

}
.inputsLeftColumn{
  width: 62%;
}
.inputsRightColumn{
  width: 38%
}

input:focus {
  outline-width: 0;
}
.errorMessage{
  color: red;
  margin-left: 20px;
  font-size: 25px;
}


