.dropZone {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.droppedImageHolder {
  object-fit: fill;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.droppedImageHolder img {
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.dropzoneImageGrandParent {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dropzoneImageParent {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dropzoneImageParent video {
  width: 100%;
  height: 100%;
}
