.dropZone {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.droppedImageHolder {
  object-fit: fill;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.droppedImageHolder img {
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.dropzoneImageGrandParent {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dropzoneImageParent {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dropzoneImageParent video {
  width: 100%;
  height: 100%;
}

.eStandardAd .dropzoneImageParent {
  width: 480px;
  height: 270px;
}
.eBintAd .dropzoneImageParent {
  width: 130px;
  height: 457px;
}
.eFullScreen .dropzoneImageParent {
  width: 640px;
  height: 480px;
}
.eFSBISVG .dropzoneImageParent {
  width: 90px;
  height: 90px;
}
.eHFSPImage .dropzoneImageParent {
  width: 620px;
  height: 278px;
}
.eVSAImage .dropzoneImageParent {
  width: 234px;
  height: 416px;
}


.lStandardAd .dropzoneImageParent {
  width: 768px;
  height: 432px;
}
.lBintAd .dropzoneImageParent {
  width: 160px;
  height: 640px;
}
.lFullScreen .dropzoneImageParent {
  width: 1024px;
  height: 680px;
}
.lFSBISVG .dropzoneImageParent {
  width: 160px;
  height: 160px;
}
.lHFSPImage .dropzoneImageParent {
  width: 982px;
  height: 433px;
}
.lVSAImage .dropzoneImageParent {
  width: 360px;
  height: 640px;
}


.pStandardAd .dropzoneImageParent {
  width: 672px;
  height: 378px;
}
.pBintAd .dropzoneImageParent {
  width: 672px;
  height: 210px;
}
.pFullScreen .dropzoneImageParent {
  width:720px;
  height: 960px;
}
.pHFSPImage .dropzoneImageParent {
  width: 672px;
  height: 610px;
}
.pVSAImage .dropzoneImageParent {
  width: 360px;
  height: 640px;
}

.dropzoneHint{
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
  font-size: 1.3rem;
}

